<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ELECTRIC VEHICLES</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">

    <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Orbitron", sans-serif}
      body {font: size 14px;}
      .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
      .w3-half img:hover{opacity:1}
    </style>
</head>
<!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EVnavbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="visually-hidden"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/visualizations">Visualizations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictions">Predictions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/data">Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row text-center" style="margin-top:2%">
            <div class="col-md-12">
                <h4 class="display-4">ELECTRIC VEHICLES</h4>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="margin-top:2%">
      <div class="col-md-12">
          <p style="text-align:center;">
              <img src="static/images/ev1.jpg" alt="logo" style="width:35%">
          </p>
      </div>
  </div>
  <div class="row" style="margin-top:2%">
      <div class="col-sm-2"></div>
      <div class="col-md-8">
          <blockquote class="blockquote" style="text-align:center;">
              <p class="mb-0">We investigated Electric Vehicles to determine whether or not we could predict the price of an electric vehicle based on certain features.  
                  <br>
                  <br>
                  We created a two-step prediction model using Machine Learning Classification techniques of XG Boost Classifiers for the model.
                  <br>
                  <br>
                  We created <a href="/dashboard"> <b>visualizations</b> </a> of our dataset that allows for greater exploration of sales, top makers and models as well as top miles per hour, Front or Rear Wheel Drive, etc. We also included the data tables
                  we used for our prediction model and visualizations with interactive features on our <a href="/data"> <b>Data</b> </a> page.
                  <br>
                  <br>
                  The <a href="/ml"> <b>Status Predictor</b> </a>page allows you to predict the price of an electric vehicle by selecting correlating features. Similarly, the
                  <a href="/exploration"> <b>Analysis</b> </a>page provides greater detail and insight into the process we took of importing, 
                  cleaning, and feature engineering our data set in order to create our Machine Learning Model using XG-Boost Classifiers.
                   </p>
            </blockquote>
            <br>
      </div>
      <div class="col-sm-2"></div>
  </div>
</html>
