<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ELECTRIC VEHICLES</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cerulean/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">

    <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Orbitron", sans-serif}
      body {font: size 14px;}
      .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
      .w3-half img:hover{opacity:1}
</style>
</head>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EVnavbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="visually-hidden"></span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/visualizations">Visualizations</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/predictions">Predictions</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/analysis">Analysis</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/data">Data</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/resources">Resources</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Team -->
<div class="w3-container" id="team" style="margin-top:75px">
    <h1 class="w3-xxlarge w3-text-blue"><b>Team</b></h1>
    <hr style="width:50px;border:5px solid rgba(120, 240, 7, 0.623)" class="w3-round">
    <!-- <p><b>Our designers are thoughtfully chosen</b>:</p> -->
  </div>
    <!--ABOUT-->
    <div class="container-fluid">
      <div class="row" style="margin-top:5%">
          <div class="col-md-12">
              <h5>Kidist Gebremendhin</h5>
              <br>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <img src="static/images/kidist.jpg" alt="Kidist" style="width:65%;padding:2%;" class="center">
          </div>
          <div class="col-md-9">
              <blockquote class="blockquote">
                  <p class="mb-0">Kidist studied Math and Computer Science and has over two decades of experience in IT in different data related roles. She has shifted towards Machine Learning and data science past several years. She strongly believes in women’s potentials and in a better world by acknowledging that.</p>
                </blockquote>
          </div>
      </div>
      <hr>
      <div class="row" style="margin-top:5%">
          <div class="col-md-12">
              <h5>Diana Melendez</h5>
              <br>
          </div>
      </div>
      <div class="row"> 
      <div class="col-md-3">
            <img src="static/images/image.png" alt="Diana" style="width:65%;padding:2%;" class="center">
        </div>
          <div class="col-md-9">
              <blockquote class="blockquote">
                  <p class="mb-0">Diana is a Data Scientist at SAP Concur where she works on developing machine learning algorithms for the ExpenseIt feature. As of Fall 2019 she is also an adjunct lecturer at Northeastern University, Seattle campus, where she teaches probability and statistics for the Master's in Data Analytics Engineering Program.</p>
              </blockquote>
          </div>
      </div>
      <hr>
      <div class="row" style="margin-top:5%">
          <div class="col-md-12">
              <h5>Greyson Moore</h5>
              <br>
          </div>
      </div>
      <div class="row">
      <div class="col-md-3">
            <img src="static/images/Greyson.png" alt="Greyson" style="width:65%;padding:2%;" class="center">
      </div>
        <div class="col-md-9">
            <blockquote class="blockquote">
              <p class="mb-0">Greyson is a fourth-year computer science student at the University of North Texas who graduates in May of 2022. He plans to use machine learning and data science to create more efficient business practice and actionable insights for his employers.</p>
            </blockquote>
          </div>
      </div>
    <hr>
    <div class="row" style="margin-top:5%">
        <div class="col-md-12">
            <h5>Jorge Serrano</h5>
            <br>
        </div>
    </div>
    <div class="row">
    <div class="col-md-3">
          <img src="static/images/serrano.jpg" alt="Jorge" style="width:65%;padding:2%;" class="center">
    </div>
      <div class="col-md-9">
          <blockquote class="blockquote">
            <p class="mb-0">Jorge is an author, futurist, frequent keynote speaker, and strategic advisor on data insights to businesses and governments. He advises and coaches many of the world’s best-known organizations and was voted by LinkedIn as one of the top five business influencers in the world and the No 1 influencer in Latin America.</p>
          </blockquote>
        </div>
    </div>
  <hr>